*.iml
.gradle
.DS_Store
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx
app/src/main/res/navigation/nav_graph.xml
app/src/main/java/com/nifcloud/mbaas/core/First2Fragment.kt
app/src/main/java/com/nifcloud/mbaas/core/MainActivity.kt
app/src/main/java/com/nifcloud/mbaas/core/Second2Fragment.kt
app/src/main/res/layout/activity_main2.xml
app/src/main/res/layout/content_main2.xml
app/src/main/res/layout/fragment_first2.xml
app/src/main/res/layout/fragment_second2.xml
app/src/main/res/navigation/nav_graph.xml
